.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  align-items:center;
}
main {
  align-items:center;
  justify-content: center;
}
.container{
  margin: 0 auto;
    width: 200px;
    display: table;
}

@media only screen and (max-width: 997px) {
  .container{
    margin: 0 auto;
    display: table;
    width: 200px;
  }
}