:root {
    --btn-color: rgb(0, 190, 126); 
  }


.checkBox{
    width: 50px;
    height: 30px;
    background-color:var(--btn-color);
    cursor: pointer;
}
.item{
    gap:100px;
    display: flex;
    align-items:center;
    height: 100px;
    width: 950px;
}

@media only screen and (max-width: 997px) {
    .list{
        width: 750px;
    }
    .item{
        gap: 350px;
        display: flex;
        align-items:center;
        height: 100px;
        width: 950px;
    }
  }
  li {
    font-size: 25px;
    width: auto;
  }
  
  @media only screen and (max-width: 761px) {
    .list{
        width: 550px;
    }
    .item{
        gap: 180px;
        display: flex;
        align-items:center;
        height: 100px;
        width: 950px;
    }
  }
  li {
    font-size: 25px;
    width: auto;
  }
.container-icon{
    display: flex;
    gap: 30px;
}
.container-icon i{
    cursor: pointer;
}

.list{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.title-input{
    border:none;
    font-size: 20px;
    width: 750px;
}

.pen-active {
    color: #546178
}
.fa-trash:hover {
    color: #546178
}
.active-input {
    border:1px solid black;
    border-radius:5px;
    padding: 4px;
}
.time{
    display: table;
    font-size: 15px;
}